*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/app/release
*.apk
*.aab
*.jks
# Keep tranzo-debug.keystore for consistent signing
!tranzo-debug.keystore
google-services.json
